Data Science Fundamentals: Python |
[Table of Contents](../index.ipynb)
- - - 
<!--NAVIGATION-->
Module 1. [Basic Python Syntax](./01_mod_python_syntax.ipynb) | [Variables and Objects](./02_python_variables_objects.ipynb) | [Operators](./03_python_operators.ipynb) | **[Exercises](./04_mod_practice.ipynb)**

# Module 1: Practice Exercises

1. Accept the user's first and last name and print them in reverse order with a space between them

In [10]:
userFirstName = input("First Name: ")
userLastName = input("Last Name: ")

print(userLastName, userFirstName)
#print(userFirstName + " " + userLastName)

#def fcn_name(first_name, last_name):
#    print(last_name, first_name)
    
#fcn_name('Juno', 'Wilkinson')

First Name: Jocelin
Last Name: On
On Jocelin

2. Accept an integer (n) and compute the value of n+nn+nnn

In [5]:
n = int(input("Enter integer: "))
print(n+2*n+3*n)

#def fcn_add(n):
#    result = n+n*n+n*n*n
#    print(result)
#fcn_add(3)
    
#def fcn_add(n):
#    result = n+n*n+n*n*n
#    print(result)
    
#fcn_add(3)

Enter integer: 5
155

3. Ask the user "What country are you from?" then print the following statement: "I have heard that [input] is a beautiful country!"

In [7]:
country = str(input("What country are you from?"))
print("I have heard that", country, "is a beautiful country!")

#def fcn_origin(country):
#    statement1 = "I have heard that" 
#    statement2 = "is a beautiful country!"
#    print(statement1, country, statement2)
    
#fcn_origin("Canada")

What country are you from?Canada
I have heard that Canada is a beautiful country!

4. Write a for loop that multiplies the number 4 by all the integers from 0 to 10 and prints the following for each: "4 multiplied by [i] is [x]"

In [12]:
#for i in range(1,11):
#    result = 4 * i
#    statement1 = "4 multiplied by"
#    statement2 = "is"
#    print(statement1, i, statement2, result)

for i in range(11):
    print("4 multiplied by", str(i), "is", str(4*i))

4 multiplied by 0 is 0
4 multiplied by 1 is 4
4 multiplied by 2 is 8
4 multiplied by 3 is 12
4 multiplied by 4 is 16
4 multiplied by 5 is 20
4 multiplied by 6 is 24
4 multiplied by 7 is 28
4 multiplied by 8 is 32
4 multiplied by 9 is 36
4 multiplied by 10 is 40

5. Print a multiplication table that matches the following. Use two nested for loops to achieve this.

<img src="files/table.png">

In [13]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end = "\t") # tab after each value
    print('') # new line after each set of 10

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

6. **Supplemental.** Write a program that prints out the results of at least one calculation for each of the basic operations: addition, subtraction, multiplication, division, and exponents.

In [26]:
for i in range(0, 11):
    for j in range(0, 11):
        print(i + j, end = "\t") # tab after each value
    print('') # new line after each set of 10
    
print("\n")

for i in range(0, 11):
    for j in range(0, 11):
        print(i - j, end = "\t") # tab after each value
    print('') # new line after each set of 10
    
print("\n")

for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end = "\t") # tab after each value
    print('') # new line after each set of 10
    
print("\n")

for i in range(1, 11):
    for j in range(1, 11):
        print(i / j, end = "\t") # tab after each value
    print('') # new line after each set of 10

    print("\n")

for i in range(1, 11):
    for j in range(1, 11):
        print(i ** j, end = "\t") # tab after each value
    print('') # new line after each set of 10

0	1	2	3	4	5	6	7	8	9	10
1	2	3	4	5	6	7	8	9	10	11
2	3	4	5	6	7	8	9	10	11	12
3	4	5	6	7	8	9	10	11	12	13
4	5	6	7	8	9	10	11	12	13	14
5	6	7	8	9	10	11	12	13	14	15
6	7	8	9	10	11	12	13	14	15	16
7	8	9	10	11	12	13	14	15	16	17
8	9	10	11	12	13	14	15	16	17	18
9	10	11	12	13	14	15	16	17	18	19
10	11	12	13	14	15	16	17	18	19	20


0	-1	-2	-3	-4	-5	-6	-7	-8	-9	-10
1	0	-1	-2	-3	-4	-5	-6	-7	-8	-9
2	1	0	-1	-2	-3	-4	-5	-6	-7	-8
3	2	1	0	-1	-2	-3	-4	-5	-6	-7
4	3	2	1	0	-1	-2	-3	-4	-5	-6
5	4	3	2	1	0	-1	-2	-3	-4	-5
6	5	4	3	2	1	0	-1	-2	-3	-4
7	6	5	4	3	2	1	0	-1	-2	-3
8	7	6	5	4	3	2	1	0	-1	-2
9	8	7	6	5	4	3	2	1	0	-1
10	9	8	7	6	5	4	3	2	1	0


1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100


1.0	0.5	0.3333333333333333	0.25	0.2	0.16666666666666666	0.14285714285714285	0.125	0.1111111111111111	0.1


2.0	1.0	0.6666666666666666	0.5	0.4	0.3333333333333333	0.2857142857142857	0.25	0.2222222222222222	0.2


3.0	1.5	1.0	0.75	0.6	0.5	0.42857142857142855	0.375	0.3333333333333333	0.3


4.0	2.0	1.3333333333333333	1.0	0.8	0.6666666666666666	0.5714285714285714	0.5	0.4444444444444444	0.4


5.0	2.5	1.6666666666666667	1.25	1.0	0.8333333333333334	0.7142857142857143	0.625	0.5555555555555556	0.5


6.0	3.0	2.0	1.5	1.2	1.0	0.8571428571428571	0.75	0.6666666666666666	0.6


7.0	3.5	2.3333333333333335	1.75	1.4	1.1666666666666667	1.0	0.875	0.7777777777777778	0.7


8.0	4.0	2.6666666666666665	2.0	1.6	1.3333333333333333	1.1428571428571428	1.0	0.8888888888888888	0.8


9.0	4.5	3.0	2.25	1.8	1.5	1.2857142857142858	1.125	1.0	0.9


10.0	5.0	3.3333333333333335	2.5	2.0	1.6666666666666667	1.4285714285714286	1.25	1.1111111111111112	1.0


1	1	1	1	1	1	1	1	1	1
2	4	8	16	32	64	128	256	512	1024
3	9	27	81	243	729	2187	6561	19683	59049
4	16	64	256	1024	4096	16384	65536	262144	1048576
5	25	125	625	3125	15625	78125	390625	1953125	9765625
6	36	216	1296	7776	46656	279936	1679616	10077696	60466176
7	49	343	2401	16807	117649	823543	5764801	40353607	282475249
8	64	512	4096	32768	262144	2097152	16777216	134217728	1073741824
9	81	729	6561	59049	531441	4782969	43046721	387420489	3486784401
10	100	1000	10000	100000	1000000	10000000	100000000	1000000000	10000000000

7. **Optional.** Find a calculation whose result depends on the order of operations. Print the result of this calculation using the standard order of operations. Use parentheses to force a nonstandard order of operations. Print the result of this calculation.

In [1]:
print(3*2+5)
print(3*(2+5))

11
21

<!--NAVIGATION-->
Module 1. [Basic Python Syntax](./01_mod_python_syntax.ipynb) | [Variables and Objects](./02_python_variables_objects.ipynb) | [Operators](./03_python_operators.ipynb) | **[Practice](./04_mod_practice.ipynb)**
<br>
[top](#)